<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="templatemo">
    <meta charset="UTF-8">

    <!-- CSS Bootstrap & Custom -->
    <link href="../../css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../../css/admin.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="../../css/message.css">
    <!-- Favicons -->
    <script src="../../js/own.js"></script>
</head>
<body>
<div class="col-lg-9"  style="margin-right: 10%;">
    <div class="panel panel-default">
        <div class="panel-heading blue">
            <div><b class="mainfont">权限管理</b>
                <ul class="ul">
                    <li><a class="mainfont" href="sys_right.html">授权</a></li>
                    <li><a class="mainfont" href="right_update.html">修改权限</a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <form class="form-inline" style="margin:2% 0 0 2%;">
                <div class="form-group">
                    <p><input type="text" class="form-control" placeholder="搜索成员" style="width: 300px;">
                        <button type="submit" class="btn btn-default" style="float: right;">查看权限</button>
                    </p>
                </div>
            </form>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>成员姓名</th>
                    <th>成员部门</th>
                    <th>拥有的权限名</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td><a class="mainfont">删除</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


</body>
</html>