<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="templatemo">
    <meta charset="UTF-8">

    <!-- CSS Bootstrap & Custom -->
    <link href="../../css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../../css/admin.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="../../css/message.css">
    <!-- Favicons -->
    <script src="../../js/own.js"></script>
</head>
<body>
<div class="col-lg-9"  style="margin-right: 10%;">
    <div class="panel panel-default">
        <div class="panel-heading blue">
            <div><b class="mainfont">权限管理</b>
                <ul class="ul">
                    <li><a class="mainfont" href="sys_right.html">授权</a></li>
                    <li><a class="mainfont" href="right_update.html">修改权限</a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <form action="" method="post">
                <p>请选择权限</p>
                <input type="checkbox">设置提醒&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox">查看销售意向&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox">增删改销售意向&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox">查看订单&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox">增删改订单&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox">查看回访&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox">增删改回访&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox">查看库存&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox">增删改库存&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox">查看入库&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox">增删改入库&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox">查看出库&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox">增删改出库&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox">查看调拨&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox">增删改调拨&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox">查看调换&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox">增删改调换&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox">查看会议&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox">查看成员&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox">增删改成员&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox">各种报表权限&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox">是否具有管理员权限&nbsp;&nbsp;&nbsp;&nbsp;
                <br>
                <input type="text" class="form-control message" placeholder="搜索联系人">
                <input type="reset" value="重置" class="btn btn-default mainfont blue" style="float: right">
                <button type="submit" class="btn btn-default mainfont mainback" style="float: right">Submit</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>