<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../../css/admin.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="../../css/admin.css">
    <title></title>
</head>
<body>
<div class="col-lg-3" style="margin-left: 30%;">
    <ul class="nav">
        <li role="presentation"><a target="mainFrame" href="sys_account.html" class="mainback mainfont">账户管理</a></li>
        <li role="presentation"><a target="mainFrame"  href="sys_right.html" class="mainfont">权限管理</a></li>
        <li role="presentation"><a target="mainFrame"  href="sys_material.html" class="mainfont">资料录入</a></li>
        <li role="presentation"><a target="mainFrame"  href="sys_set.html" class="mainfont">系统设置</a></li>
    </ul>
</div>
</body>
</html>