<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>拉卡团队|会议管理</title>
</head>
<frameset rows="75,*" cols="*" frameborder="no" border="0" framespacing="0">
    <frame src="../head.html" name="togFrame" scrolling="No" noresize="noresize" id="topFrame"
           title="topFrame"/>
    <frameset rows="*" cols="300,*" framespacing="0" frameborder="no" border="0">
        <frame src="conference_left.html" name="leftFrame" scrolling="no" noresize="noresize"
               id="leftFrame" title="leftFrame" />
        <frame src="conference_morn.html" title="mainFrame" name="mainFrame" id="mainFrame" />
    </frameset>
</frameset>
</html>