<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../../css/admin.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="../../css/admin.css">
    <title></title>
</head>
<body>
<div class="col-lg-3" style="margin-left: 30%;">
    <ul class="nav">
        <li role="presentation"><a target="mainFrame" href="conference_morn.html" class="mainback mainfont">每日晨会</a></li>
        <li role="presentation"><a target="mainFrame"  href="conference_week.html" class="mainfont">一周三会</a></li>
    </ul>
</div>
</body>
</html>