<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../../js/own.js" style="text/javascript"></script>
    <link href="../../css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../../css/admin.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="../../css/admin.css">
    <title></title>
</head>
<body>
<div class="col-lg-9" style="margin-right: 10%;">
    <div class="panel panel-default">
        <div class="panel-heading blue">
            <div><a class="mainfont">会议记录</a></div>
        </div>
        <form class="form-inline" style="margin:2% 0 0 2%;">
            <div class="form-group">
                <label class="sr-only">输入单位名</label>
                <input type="text" class="form-control" placeholder="输入单位名" style="width: 300px;">
                <button type="submit" class="btn btn-default" style="float: right;">查询</button>
                <input type="text" class="form-control" style="width: 200px;float: right;" placeholder="输入部门名">
            </div>
        </form>
        <div class="panel-body">
            <table class="table table-bordered">
                <caption style="font-size: 1.5em;">当月会议记录</caption>
                <thead>
                <tr>
                    <th>会议日期</th>
                    <th>会议主题</th>
                    <th>会议主持人</th>
                    <th>成员</th>
                    <th>考勤</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>