<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../../css/admin.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="../../css/admin.css">
    <title></title>
</head>
<body>
<div class="col-lg-3" style="margin-left: 30%;">
    <ul class="nav">
        <li role="presentation"><a target="mainFrame" href="message_list.html" class="mainback mainfont">消息列表</a></li>
        <li role="presentation"><a target="mainFrame"  href="set-normal.html" class="mainfont">设置提醒（一般）</a></li>
        <li role="presentation"><a target="mainFrame"  href="set-timing.html" class="mainfont">设置提醒（定时）</a></li>
        <li role="presentation"><a target="mainFrame"  href="set-count-down.html" class="mainfont">设置提醒（倒计时）</a></li>
        <li role="presentation"><a target="mainFrame"  href="set-special.html" class="mainfont">设置提醒（特殊日子）</a></li>
        <li role="presentation"><a target="mainFrame"  href="set-detail.html" class="mainfont">设置明细显示</a></li>
    </ul>
</div>
</body>
</html>