<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="templatemo">
    <meta charset="UTF-8">


    <!-- CSS Bootstrap & Custom -->
    <link href="../../css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../../css/admin.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="../../css/message.css">
    <!-- Favicons -->

    <script style="text/javascript">
        var id;
        function getdialog(id){
            document.getElementById(id).style.display="block";
        }
        function cancel(){
            document.getElementById("prompt-success").style.display="none";
        }
    </script>
</head>
<body>
<div class="col-lg-9"  style="margin-right: 10%;">
    <div class="panel panel-default">
        <div class="panel-heading blue">
            <div><a class="mainfont">设置特殊日子提醒</a></div>
        </div>
        <div class="panel-body">
            <br action="" method="" style="margin-left: 5%;">
                <input type="text" class="form-control message" placeholder="主题">
                <textarea class="form-control message" placeholder="详情" rows="10"></textarea>
                <p style="margin-left: 2%;">选择提醒某人（不选默认自己）</p>
                <input type="text" class="form-control message" placeholder="" style="margin-top: -10px;">
                <p style="margin-left: 2%;">选择提醒重复次数</p>
                <br><input type="radio" placeholder="" style="margin-top: -10px;margin-left: 5%;">单次
                <input type="radio"  placeholder="" style="margin-top: -10px;margin-left: 5%;">每月
                <input type="radio"  placeholder="" style="margin-top: -10px;margin-left: 5%;">每年</br>
                <input type="reset"  placeholder="重置" class="btn mainfont btn-default" style="margin-left: 40%;">
                <button type="button" class="btn btn-default mainfont mainback" onclick='getdialog("prompt-success")'>Submit</button>
            </form>
        </div>
    </div>
</div>
<div id="prompt-success">
    <ul class="list replay-list" style="margin-top: 40px;">
        <li class="replay_item">
            <div class="item-left">
                <img src="../../image/success.jpg" class="item-img">
            </div>
            <div class="item-right" style="margin-left: 4%;">
                <div class="pale-pink" >
                    <time></time>
                </div>
                <div class="item-content" style="width: 350px; margin-top: 20px;font-size: 20px;">
                    该提醒已成功设置！
                </div>
            </div>
        </li>
    </ul>
    <div style="margin-bottom: 20px;">
        <a href="javascript:cancel()" style="margin-left: 60%;" class="mainfont">确定</a>
    </div>
</div>
</body>
</html>