<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>销售后台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="templatemo">
    <meta charset="UTF-8">


    <!-- CSS Bootstrap & Custom -->
    <link href="../css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../css/admin.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="../css/admin.css">
    <!-- Favicons -->

    <script style="text/javascript">
        function send(){
            document.getElementById("new-box").style.display="block";
        }
        function cancel(){
            document.getElementById("new-box").style.display="none";
            document.getElementById("replay").style.display="none";
        }
        function reply(){
            document.getElementById("replay").style.display="block";
        }
    </script>
    <!--[if lt IE 8]>
	<div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" /></a>
        </div>
    <![endif]-->
</head>
<body>
    
    
    <nav class="navbar navbar-default navbar-fixed-top mainback">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand mainfont" href="#">LOGO</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav mainfont nav-list">
            <li class="blue"><a href="#">消息 <span class="sr-only">(current)</span></a></li>
            <li  class="blue"><a href="#">便签</a></li>
              <li  class="blue"><a href="#">销售</a></li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default mainfont">Submit</button>
          </form>
            <!--<div class="blue select">-->

                <!--<ul class="">-->
                    <!--<li></li>-->
                <!--</ul>-->
            <!--</div>-->


                  <select class="btn btn-default mainfont select" onchange="window.location=this.value;" style="margin-top: 8px;margin-bottom: 8px;margin-left: 40%">
                      <option value="member.html">成员管理</option>
                      <option>库存管理</option>
                      <option>会议管理</option>
                      <option>报表管理</option>
                      <option>系统管理</option>
                  </select>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    
    <div class="admin-wrap">
    	<div class="container">
        	<div class="col-lg-12">
            	<ol class="breadcrumb mainback mainfont">
                  <li><a href="#" class="mainfont">消息</a></li>
                  <li><a href="#" class="mainfont">便签</a></li>
                  <li><a href="#" class="mainfont">销售</a></li>
                </ol>
            </div>
            <div class="col-lg-3">
            	<ul class="nav">
                  <li role="presentation"><a href="#" class="mainback mainfont">消息列表</a></li>
                  <li role="presentation"><a href="#" class="mainfont">添加便签</a></li>
                  <li role="presentation"><a href="#" class="mainfont">联系人</a></li>
                </ul>
            </div>
            <div class="col-lg-9">
            	<div class="panel panel-default">
                  <div class="panel-heading blue">
                      <div><a class="mainfont">消息</a></div>
                   <div class="new mainback" id="send"><a class="mainfont" href="javascript:send()">发送消息</a>
                       <div id="new-box">
                           <div class="box">
                               <div class="box-title mainback" style="height: 40px;"><p>发送消息</p></div>
                               <input type="text" class="form-control message" placeholder="消息主题">
                               <textarea class="form-control message" placeholder="消息详情" rows="10"></textarea>
                               <p>选择哪些人可看见该条消息（不选默认全可见）</p>
                               <input type="text" class="form-control message" placeholder="搜索联系人" style="margin-top: -10px;">
                               <a href="javascript:cancel()" class="mainfont">取消</a>
                               <button type="submit" class="btn btn-default mainfont mainback">Submit</button>
                           </div>
                       </div>
                   </div>
                  </div>
                    <div class="panel-body">
                        <ul class="list list-s">
                            <li class="list_item">
                                <div class="item-left">
                                    <img src="../image/iPhoto.jpg" class="item-img">
                                </div>
                                <div class="item-right">
                                    <div class="pale-pink">备注
                                        <time>2016/11/5 9:00</time>
                                    </div>
                                    <div class="item-content">
                                        <h5>消息标题</h5>
                                        <p class="mainfont" style="font-size: 1.2em;margin-top: -10px;">消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容
                                            消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容
                                            消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容
                                            消息内容消息内容
                                            消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容
                                            消息内容消息内容
                                        </p>
                                    </div>
                                    <div class="item-select">
                                        <a href="javascript:reply()" class="pale-pink">回复</a>
                                        <a class="pale-pink">添加到便签</a>
                                    </div>
                                </div>
                                <div class="line"></div>
                            </li>
                            <li class="list_item">
                                <div class="item-left">
                                    <img src="../image/iPhoto.jpg" class="item-img">
                                </div>
                                <div class="item-right">
                                    <div class="pale-pink">备注
                                        <time>2016/11/5 9:00</time>
                                    </div>
                                    <div class="item-content">
                                        <h5>消息标题</h5>
                                        <p class="mainfont" style="font-size: 1.2em;margin-top: -10px;">消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容
                                            消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容
                                            消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容
                                            消息内容消息内容
                                            消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容消息内容
                                            消息内容消息内容
                                        </p>
                                    </div>
                                    <div class="item-select">
                                        <a href="javascript:reply()" class="pale-pink">回复</a>
                                        <a class="pale-pink">添加到便签</a>
                                    </div>
                                </div>
                                <div class="line"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
         </div>  
    </div>
    <div id="replay">
        <ul class="list replay-list" style="margin-top: 40px;">
            <li class="replay_item">
                <div class="item-left">
                    <img src="../image/iPhoto.jpg" class="item-img">
                </div>
                <div class="item-right" style="margin-left: 4%;">
                    <div class="pale-pink" >备注
                        <time>2016/11/5 9:00</time>
                    </div>
                    <div class="item-content" style="width: 350px;">
                        answercontent answercontentanswercontentanswercontentanswercontentanswercontentanswercontentanswercontent
                    </div>
                    <div class="item-select">
                        <a class="pale-pink">回复</a>
                        <a class="pale-pink">添加到便签</a>
                    </div>
                </div>
            </li>
        </ul>
        <div style="margin:20px 40px 10px 40px;width:80%;">
            <input type="text" class="form-control message" placeholder="回复" style="width: 100%;">
            <a href="javascript:cancel()" style="margin-left: 70%;" class="mainfont">取消</a>
            <a href="" style="margin-left: 5%;" class="mainfont">Submit</a>
        </div>


    </div>

    
   	<footer>
    	<div class="col-lg-12">
        	<p class="text-center"><strong>CAMPANY</strong></p>
        </div>
    </footer>
    


</body>
</html>